<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name=viewport content='width=100'>
	<title>Trettio Dagar</title>
</head>
<body>
	<div id="wrapper1"> 
		<h1> 
			TRETTIO DAGAR
		</h1>
		<div class="text">
			<h2> 
				Saknar du det oväntade i ditt liv?
			</h2>
			<h2>
				Gå med. 
			</h2>
			<h2> 
				Inom 30 dagar kommer någonting att hända.
			</h2>
		</div>
		<img class="video" src="assets/yt.jpg">
		<%= link_to(info_path) do %>
		<div class="button">Gå med</div>
		<% end %>
	</div>
	
</body>
</html>

