<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name=viewport content='width=300'>
	<title>Trettio Dagar</title>
</head>
<body>
	<div class="wrapper"> 
		<h1> 
			TRETTIO DAGAR
		</h1>
		<div class="text">
			<h2> 
				Saknar du det oväntade i ditt liv?
			</h2>
			<h2>
				Gå med. 
			</h2>
			<h2> 
				Inom 30 dagar kommer någonting att hända.
			</h2>
		</div>
		
			<iframe class="video" src="https://www.youtube.com/embed/yEvhDTWSRec" frameborder="0" allowfullscreen></iframe> 
		<%= link_to(new_contact_path) do %>
		<div class="button">Gå med</div>
		<% end %>
	</div>
	
</body>
</html>

