/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-image:url("crowd01.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: helvetica;
	color:white;
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	display: block;
}

h1 {
	margin: 50px auto;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.5em;
	
}
h2 {
	text-align: center;
	font-weight: lighter;
	line-height: 1.5em;
	font-size: 1.5em;

}


iframe {
	width: 30em;
	margin: 50px auto;
	display: block;
	max-width: 80%;
}

.button {
	width: 10em;
	height: 2.5em;
	line-height: 2.5em;
	background-color: white;
	color:black;
	text-align: center;
	font-weight: bold;
	margin: 50px auto;
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,1);
	-moz-box-shadow: 0 0px 10px rgba(0,0,0,1);
	box-shadow: 0 0px 10px rgba(0,0,0,1);


}

.button:hover {
	color:white;
	background-color: black;

}

a {
	text-decoration: none;
}

/* Contacts */

h3 {
	text-align: left;
	font-weight: lighter;
	font-size: 1.1em;
	margin: 5px auto;
}

.hidden {
	display: none;
}

.form {
	margin-left: auto;
    margin-right: auto;
	width: 7em;
}

.uppgifter {
	margin:-20px 0 0 0;
}


input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px 3px 3px 3px;
  margin: 5px 0px 10px 0px;
  border: 1px solid #DDDDDD;
  resize: none;
}

input[type=text] {
	padding: 10px 3px 3px 15px;

}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(218, 218, 218, 1);
  border: 1px solid rgba(218, 218, 218, 1);
}

input[type=submit] {
	font-style: helvetica;
	font-weight: bold;
	padding:10px 40px;
	font-size:1.1em; 
	background:white; 
	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 10px auto;
    -webkit-box-shadow: 0 0px 10px rgba(0,0,0,1);
	-moz-box-shadow: 0 0px 10px rgba(0,0,0,1);
	box-shadow: 0 0px 10px rgba(0,0,0,1);

}

input[type=submit]:hover {
	background-color: black;
	color:white;
}
