body {
	background-image:url("crowd01.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: helvetica;
	color:white;
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 100px auto;
	width: 800px;
	height: 1000px;
	display: block;
}

h1 {
	margin: 50px auto;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 20pt;
	
}
.text h2 {
	text-align: center;
	font-weight: lighter;
	line-height: 20px;

}

.video {
	width: 30em;
	height: 20em;
	margin: 50px auto;
	display: block;
	max-width: 100%;
}

.button {
	width: 10em;
	height: 2.5em;
	line-height: 2.5em;
	background-color: white;
	color:black;
	text-align: center;
	font-weight: bold;
	display: block;
	margin: 50px auto;
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,1);
	-moz-box-shadow: 0 0px 10px rgba(0,0,0,1);
	box-shadow: 0 0px 10px rgba(0,0,0,1);
}

.button:hover {
	color:white;
	background-color: black;
}

a {
	text-decoration: none;
}